<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  gtag('js', new Date());
  gtag('config', 'UA-90475221-1');
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker
      .register('/sw.js');
  }
  // matomo
  var _paq = window._paq || [];
  _paq.push(["setRequestMethod", "POST"]);
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.jonlu.ca"]);
  _paq.push(["setDomains", ["*.jonlu.ca","*.blog.jonlu.ca"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  _paq.push(['enableHeartBeatTimer']);
  if(document.referrer){
      _paq.push(['setReferrerUrl', document.referrer]);
    }
  (function() {
    var u="//stats.jonlu.ca/";
    _paq.push(['setRequestMethod', 'POST']);
    _paq.push(['setTrackerUrl', u+'js/']);
    _paq.push(['setSiteId', '1']);

    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'js/'; s.parentNode.insertBefore(g,s);
  })();
</script>
<script async defer src="https://www.googletagmanager.com/gtag/js?id=UA-90475221-1"></script>
<script async defer src="/js/preload.js"></script>
<noscript><p><img src="//stats.jonlu.ca/matomo.php?idsite=1&rec=1" style="border:0;" alt="" /></p></noscript>