<link href='{{ site.url }}/images/fav.png' rel='shortcut icon'>
<link href='{{ site.url }}/stylesheets/style.css' rel='stylesheet' type='text/css' />
<link href='{{ site.url }}/stylesheets/syntax.css' rel='stylesheet' type='text/css' />

<meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
<meta content='text/html; charset=utf-8' http-equiv='content-type' />
{% if page.date %}
  <meta content='{{ site.url }}{{ page.url }}' property='og:url' />
  <meta content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}" property='og:description' />
  <meta content="article" property="og:type" />
{% else %}
  <meta content='{{ site.url }}' property='og:url' />
  <meta content="{{ site.description }}" property='og:description' />
  <meta content="blog" property="og:type" />
{% endif %}