<div id="revue-embed">
  <form
    action="https://www.getrevue.co/profile/jonluca/add_subscriber"
    method="post"
    id="revue-form"
    name="revue-form"
    target="_blank"
  >
  {% if include.about %}
  <label for="member_email" style="font-size: 18px"
      >Get new (monthly) posts in your inbox!</label
    >{% else %}
    <label for="member_email" style="font-size: 18px"
      >Like this post? Get new (monthly) posts in your inbox!</label
    >
    {% endif %}
    <div style="display: flex">
      <div class="revue-form-group">
        <input
          class="revue-form-field"
          placeholder="Email"
          type="email"
          name="member[email]"
          id="member_email"
        />
      </div>
      <div class="revue-form-actions">
        <input
          type="submit"
          value="Subscribe"
          name="member[subscribe]"
          id="member_submit"
        />
      </div>
    </div>
  </form>
  <div class="revue-form-footer">
    By subscribing, you agree with Revue’s
    <a target="_blank" href="https://www.getrevue.co/terms">ToS</a> and
    <a target="_blank" href="https://www.getrevue.co/privacy">Privacy Policy</a
    >.
  </div>
</div>
