---
layout: amp
---
{% assign is_post = page.date %}
<!DOCTYPE html>
<html amp lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="preconnect" href="https://matomo.jonlu.ca">
    {% if page.path contains '_posts' %}
        <link rel="amphtml" href="{{ page.id | prepend: '/amp' | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}
    <meta name="author" content="JonLuca DeCaro">
    {% if page.title and is_home != true %}
        <meta content="{{ page.title }}" name='title'/>
        <meta content="{{ page.title }}" name='og:title'/>
    {% else %}
        <meta content="{{ site.title  | markdownify}}" name='title'/>
        <meta content="{{ site.title  | markdownify}}" name='og:title'/>
    {% endif %}
    {% if page.header-img %}
        <meta property="og:image" content="{{ site.url }}{{ page.header-img }}"/>
        <meta property="image" content="{{ site.url }}{{ page.header-img }}"/>
    {% else %}
        <meta property="og:image" content="{{ site.url }}/images/mini-profile.png"/>
        <meta property="image" content="{{ site.url }}/images/mini-profile.png"/>
    {% endif %}
    <meta name="og:email" content="jonluca.decaro@gmail.com"/>
    {% include head.html %}
    <meta charset="utf-8">
    <link rel="canonical" href="{{ page.canonical_url | prepend: site.baseurl | prepend: site.url }}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-custom>
      {% include style.css %}
    </style>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
</head>
<body class="lh-copy dark-gray pa0 f6 sans-serif bg-super-white">
    <header class="tc mt4">
            <p>{{ site.title }}</p>
        </header>
        <div class="width bg-white mt4 mb3 center br2-ns bt bb ba-ns b--light-gray">
            <nav aria-label="Main" class="bb b--light-gray pv4 tc">
                {% for link in site.links %}
                    <a class="link blue mh2 pv1"
                    href="{% unless link.external %}{{ site.url }}{% endunless %}{{ link.url }}">
                    {{ link.name }}
                </a>
            {% endfor %}
        </nav>
        <main class="tl f6 relative pa4 pa5-ns overflow-hidden">
            {% if page.title and is_home != true %}
                <div class="mb4">
                    {% if page.date %}
                        <div class="fw600 light-silver mt1">{{ page.date | date_to_string }}</div>
                    {% endif %}
                    <h1 class="ttu f3 mt0 lh-title cb mb2">
                    {% if is_post %}
                    {% endif %}
                    {{ page.title }}
                    </h1>
                </div>
            {% endif %}
            <div class="markdown-body">
                {{ content }}
            </div>
            {% if is_post %}
                {% include signoff.html %}
                {% include share.html %}
            {% endif %}
        </main>
    </div>
</body>
{% include footer.html %}
</html>
