{% assign is_post = page.date %}
<!doctype>
<html lang="en">
<head>
    {% if page.title %}
    <meta content="{{ page.title }} - {{ site.title}}" name='title'/>
    <meta content="{{ page.title }} - {{ site.title}}"name='og:title'/>
    <title>{{ page.title }} - {{ site.title }}</title>
    {% else %}
    <meta content="{{ site.title  | markdownify}}" name='title'/>
    <meta content="{{ site.title  | markdownify}}" name='og:title'/>
    <title>{{ site.title }}</title>
    {% endif %}
    {% include head.html %}
</head>
<body class="lh-copy dark-gray pa0 f6 sans-serif bg-super-white">
<header class="tc mt4">
    <p>{{ site.title }}</p>
</header>
<div class="width bg-white mt4 mb3 center br2-ns bt bb ba-ns b--light-gray">
    <nav class="bb b--light-gray pv4 tc" aria-label="Main">
        {% for link in site.links %}
        <a class="link blue hover-mid-gray mh2 pv1"
           href="{% unless link.external %}{{ site.url }}{% endunless %}{{ link.url }}">
            {{ link.name }}
        </a>
        {% endfor %}
    </nav>

    <main class="tl f6 relative pa4 pa5-ns overflow-hidden">
        {% if page.title %}
        <div class="mb4">
            {% if page.date %}
            <div class="fw600 light-silver mt1">{{ page.date | date_to_string }}</div>
            {% endif %}
            <h1 class="ttu f3 mt0 lh-title cb mb2">
                {% if is_post %}
                {% endif %}
                {{ page.title }}
            </h1>
        </div>
        {% endif %}
        <div class="markdown-body">
            {{ content }}
        </div>
        {% if is_post %}{% include signoff.html %}{% endif %}
        {% if page.comments %}
        <div class="comment-container">
            <div id="disqus_thread"></div>
            <script>

            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = window.location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://jonlucas-blog.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>                         
        </div>
        {% endif %} 
    </main>
</div>
<script id="dsq-count-scr" src="//jonlucas-blog.disqus.com/count.js" async></script>
</body>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-90475221-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-90475221-1');
</script>
</html>
